@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope";
  background-color: #ffffff;
}

::-webkit-scrollbar {
  display: none;
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin-left: 80px;
  margin-right: 80px;
  align-items: center;
}
.header-name-a {
  text-decoration: none;
  color: #242a41;
  font-weight: 600;
  line-height: 36px;
  font-size: 24px;
  transition: 0.3s ease;
}
.header-name-a:hover {
  color: #120d36;
}
.fa-bars {
  display: none;
  color: #242a41;
  cursor: pointer;
  font-size: 24px;
}
.fa-times {
  color: #242a41;
  cursor: pointer;
  font-size: 24px;
}
nav {
  display: flex;
  gap: 20px;
}
ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}
.list-a {
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
  color: #1d2130;
  line-height: 25.5px;
  transition: 0.3s ease-in-out;
}
.list-a:hover {
  color: #120d36;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}
.contact-a {
  display: flex;
  text-decoration: none;
}
.contact {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 44px;
  border-radius: 8px;
  background-color: #120d36;
  color: #ffffff;
  align-items: center;
  cursor: pointer;
}
.contact:hover {
  transform: scale(0.9);
}
.svg-contact {
  margin-left: 10px;
}

/* hero section */
.blurgradient {
  display: block;
  justify-content: center;
  margin-top: -650px;
  align-items: center;
}
.hero-detail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -700px;
  margin-left: 70px;
  margin-right: 70px;
}
.hero-header {
  width: 520px;
  font-weight: 400;
  font-size: 56px;
  line-height: 61.6px;
  color: #242a41;
}
.hero-name {
  font-weight: 700;
}
.hero-header-info {
  width: 80%;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #43495b;
  opacity: 87%;
  padding-top: 20px;
}
.connect-skill {
  display: flex;
  gap: 20px;
  font-size: 30px;
  color: #242a41;
}
.connect1 {
  border: 2px solid #242a41;
  border-radius: 50%;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: help;
}
.connect1:hover {
  background-color: #3d80d7;
  color: #ffffff;
  border: 2px solid #3d80d7;
}
.connect2 {
  border: 2px solid #242a41;
  border-radius: 50%;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: help;
}
.connect2:hover {
  background-color: #e8528a;
  color: #ffffff;
  border: 2px solid #e8528a;
}
.connect3 {
  border: 2px solid #242a41;
  border-radius: 50%;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: help;
}
.connect3:hover {
  background-color: #000;
  color: #ffffff;
  border: 2px solid #000;
}
.img-1 {
  background-image: url("../asset/image/hiipraise.png");
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -10px;
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  background-color: #dfe1fa;
  border-radius: 50%;
}
.svg-lines {
  margin-top: 50px;
}
.svg-lines-2 {
  margin-top: 60px;
}

.sm-box {
  display: none;
  background-color: #583fbc;
  width: 5vw;
  height: 5vw;
  border-radius: 10px;
  transform: rotate(30deg);
  position: absolute;
}
.sm-box-2 {
  display: none;
  background-color: #583fbc;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  position: absolute;
}
.sm-box-3 {
  display: none;
  background-color: #7b55ec;
  width: 2vw;
  height: 2vw;
  border-radius: 40%;
  position: absolute;
}
.sm-box-4 {
  display: none;
  background-color: #120d36;
  width: 4vw;
  height: 4vw;
  border-radius: 10px;
  transform: rotate(60deg);
  position: absolute;
}
.sm-box-5 {
  display: none;
  background-color: #63b8e7;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 40%;
  position: absolute;
}

/* section 2 */
.speciality-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -3.5vw;
  margin-left: -40px;
  margin-right: 60px;
}
.skill-icon {
  margin-top: -45vw;
  margin-left: 9vw;
}
.skill-css {
  font-size: 5vw;
  background-color: #306af1;
  color: #ffffff;
  width: 9vw;
  height: 9vw;
  text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 2vw;
  margin-left: -1vw;
}
.skill-html {
  font-size: 5vw;
  background-color: #dd4b24;
  color: #ffffff;
  width: 9vw;
  height: 9vw;
  text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 5vw;
}
.skill-js {
  font-size: 9vw;
  background-color: #f7e025;
  color: #000;
  width: 9vw;
  height: 9vw;
  text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 1vw;
  margin-left: 11vw;
}
.skill-react {
  background-color: #66dcfb;
  padding: 10px 15px;
  border-radius: 50%;
  width: 9vw;
  height: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
  margin-left: -1vw;
}
.skill-tailwind {
  background-color: #1d2434;
  padding: 10px 15px;
  border-radius: 50%;
  width: 9vw;
  height: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
  margin-left: 1vw;
}
.skill-css-html,
.skill-react-tcss {
  display: flex;
  gap: 15vw;
}
.skill-specialize {
  font-weight: 600;
  font-size: 42px;
  line-height: 58px;
  color: #242a41;
}
.specialize-container {
  margin-top: 280px;
}
.skill-detail-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.skill-detail {
  position: relative;
  width: 36.1vw;
  height: 202px;
  background-color: #edf0f9;
  border: 2px solid #585f6f;
  rotate: -2deg;
  border-radius: 8px;
  overflow: hidden;
}
.skill-detail-2 {
  position: relative;
  width: 36.1vw;
  height: 202px;
  background-color: #edf0f9;
  border: 2px solid #585f6f;
  rotate: 2deg;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 20px;
}
.skill-detail-3 {
  position: relative;
  width: 36.1vw;
  height: 202px;
  background-color: #edf0f9;
  border: 2px solid #585f6f;
  rotate: -2deg;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 20px;
  z-index: 1;
}
.skill-detail-info-text {
  padding: 30px;
  z-index: 2;
  position: relative;
}
.skill-number {
  font-weight: 700;
  font-size: 26px;
  line-height: 16px;
  color: #585f6f;
}
.skill-head {
  padding-top: 12px;
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;
  color: #242a41;
}
.skill-text {
  padding-top: 10px;
  font-weight: 400;
  font-size: 14.5px;
  line-height: 24px;
  color: #585f6f;
  @media (max-width: 768px) {
    font-size: 12.8px;
  }
}
.svg-skill {
  position: relative;
  z-index: 2;
}
.svg-skill-1 {
  position: absolute;
  top: -20px;
  left: 0;
  z-index: 1;
  rotate: 30deg;
}
.svg-skill-2 {
  position: absolute;
  top: 165px;
  left: -20px;
  rotate: 30deg;
}
.svg-skill-3 {
  position: absolute;
  top: 180px;
  left: 30px;
}
.svg-skill-4 {
  position: absolute;
  top: 25px;
  right: 0;
  rotate: 0deg;
  height: 250px;
}
.svg-lines-3 {
  position: absolute;
  margin-top: 920px;
  width: 100%;
}

/* section 3 */

.project-section {
  align-items: center;
  padding: 100px 0;
}
.portfolio-project {
  font-weight: 600;
  font-size: 56px;
  line-height: 61.6px;
  text-align: center;
  color: #242a41;
}
.portfolio-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  row-gap: 50px;
}
.portfolio-project-box,
.portfolio-project-box-2,
.portfolio-project-box-3 {
  padding: 5vw;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-evenly;
  @media (max-width: 500px) {
    max-width: 300px;
  }
  border-radius: 30px;
  background-color: #120d36;
  overflow: hidden;
}
.portfolio-box-img-1 {
  position: relative;
  z-index: 1;
}
.portfolio-box-text {
  width: 400px;
  color: #fff;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
}
.btn-portfolio-text-1 {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
.btn-portfolio-text {
  font-weight: 600;

  padding: 0.8rem;
  border-radius: 10px;
  background-color: #e1dafe;
  font-size: 18px;
  color: #120d36;
  align-items: center;
  line-height: 23px;
}
.portfolio-box-info {
  width: 400px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25.7px;
  color: #fff;
  margin-top: 20px;
}
.project-btn-a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  color: #fff;
  margin-top: 20px;
}
.portfolio-btn-project {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media (max-width: 500px) {
    justify-content: center;
    align-items: center;
  }
}
/* .svg-btn-icon {
} */
.porfolio-img-1 {
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.project-img {
  width: 380px;
  height: 280px;
  @media (max-width: 500px) {
    height: 200px;
    width: 300px;
  }
  border-radius: 20px;
  object-fit: center;
  cursor: pointer;
  &:hover {
    transform: scale(0.99);
    transition: all;
  }

  @media (max-width: 500px) {
    width: 240px;
  }

  box-shadow: -6px 0px 10px rgb(0, 0, 0, 0.2);
}
.portfolio-project-box-2 {
  border-radius: 30px;
}
.portfolio-project-box-3 {
  border-radius: 30px;
  background-color: #120d36;
}

/* section 5 */

.try-out-section {
  width: 100%;
  @media (max-width: 764px) {
    margin-top: clamp(2rem, 4rem, 8rem);
  }
  margin-top: 130px;
}
.try-out-box-1 {
  width: 68vw;
  height: 22vw;
  background-color: #120d36;
  border-radius: 32px;
  flex: 0 0 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-2deg);
}
.try-out-box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68vw;
  height: 22vw;
  background-color: #583fbc;
  border-radius: 32px;
  flex: 0 0 100%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  overflow: hidden;
}
.try-out-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
  position: absolute;
  align-items: center;
  box-sizing: border-box;
}
.try-out-text {
  font-weight: 700;
  font-size: 3.5vw;
  line-height: 4.375vw;
  color: #fff;
}
.try-out-info {
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 1.875vw;
  color: #fff;
  width: 100%;
}
.svg-line-sect-5 {
  position: absolute;
  z-index: 1;
  top: -20px;
}

/* section 6 */

.faq-section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 5vw;
}
.faq-header {
  @media (max-width: 500px) {
    margin: 5vw;
  }
}
.faq-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #120d36;
}
.faq-text-bold {
  width: 400px;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #1d2130;
}
.faq-text-word {
  color: #120d36;
}
.faq-text-email {
  width: 400px;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: #1d2130;
  padding-top: 20px;
}
.faq-text-email-a {
  color: #120d36;
  text-decoration: underline;
  text-decoration-style: solid;
}
.accordion-item {
  background-color: #e1dafe;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 45vw;
}
.accordion-header-1,
.accordion-header-2,
.accordion-header-3,
.accordion-header-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 20px;
  cursor: pointer;
}
.accordion-header-1:hover,
.accordion-header-2:hover,
.accordion-header-3:hover,
.accordion-header-4:hover {
  background-color: #120d36;
  color: #ffffff;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
.accordion-header-text {
  width: 100%;
  line-height: 23px;
  font-weight: 700;
  font-size: 18px;
}
.accordion-content {
  display: none;
  color: #585f6f;
  line-height: 24px;
  font-size: 17px;
  font-weight: 400;
  background-color: #e1dafe;
  border-radius: 8px;
  align-items: center;
}
.accordion-content.active {
  display: block;
  background-color: #e1dafe;
  padding: 10px 20px 20px;
}
#fa-chevron-down-1,
#fa-chevron-down-2,
#fa-chevron-down-3,
#fa-chevron-down-4 {
  transition: transform 0.3s ease;
}
#fa-chevron-down-1.rotate,
#fa-chevron-down-2.rotate,
#fa-chevron-down-3.rotate,
#fa-chevron-down-4.rotate {
  transform: rotate(180deg);
}

.faq-select-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* footer */
footer {
  margin-top: 5vw;
}
.footer-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}
.footer-detail {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  @media (max-width: 500px) {
    flex-direction: column;
  }
  justify-content: center;
  text-align: center;
}
.footer-detail-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}
.footer-detail-text {
  color: #242a41;
  font-weight: 700;
  font-size: 2rem;
  line-height: 48px;
}
.footer-detail-a {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-btn-a {
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  border-radius: 12.8px;
  background-color: #120d36;
  color: #ffffff;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  gap: 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.fa-linkedin-square,
.fa-cloud-download {
  font-size: 32px;
}
.footer-detail-box-1 {
  position: relative;
  width: 40vw;
  height: 250px;
  flex: 0 0 100%;
  background-color: #120d36;
  transform: rotate(-2deg);
  border-radius: 32px;
  z-index: 1;
}
.footer-detail-box-2 {
  position: absolute;
  width: 40vw;
  height: 250px;
  background-color: #583fbc;
  border-radius: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 2;
  margin-bottom: 100px;
}
.footer-box-head {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: #ffffff;
}
.footer-box-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
}
.footer-box-a {
  text-decoration: none;
  font-weight: 600;
  align-items: center;
  line-height: 24px;
  font-size: 17px;
  color: #fff;
  padding: 10px 15px;
  display: flex;
  gap: 10px;
  border-radius: 12px;
  background-color: #120d36;
}
.footer-bottom {
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
  gap: 10px;
  margin-top: 80px;
  border-top: 1px dashed rgba(38, 37, 43, 0.4);
}
.footer-text-email {
  text-decoration: none;
  font-weight: 500;
  color: #120d36;
  &:hover {
    text-decoration: underline;
  }
}
.footer-text > p {
  font-size: 14px;
}
/* responsive */
@media (max-width: 1049.5px) {
}
@media (max-width: 1024px) {
  .speciality-section {
    margin-top: -100px;
  }

  /* section 3 */

  .portfolio-project {
    font-size: 50px;
  }
  .portfolio-project-box,
  .portfolio-project-box-2,
  .portfolio-project-box-3 {
    border-radius: 10px;
  }

  .portfolio-box-text {
    width: 300px;
    font-size: 25px;
    line-height: 32px;
  }
  .btn-portfolio-text-1 {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  .portfolio-box-info {
    width: 300px;
    font-size: 15px;
    line-height: 20px;
  }

  .porfolio-img-1 {
    border-radius: 20px;
    width: 240px;
  }
  .box-img-2 {
    position: relative;
    left: 80px;
    box-shadow: -6px 0px 10px rgb(0, 0, 0, 0.2);
  }

  /* footer */

  .footer-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
  }
  .footer-detail {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .footer-detail-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }
  .footer-detail-text {
    color: #242a41;
    font-weight: 700;
    line-height: 48px;
  }
  .footer-detail-a {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  .footer-btn-a {
    display: flex;
    justify-content: center;
    padding: 1.1rem 1.8rem;
    border-radius: 12.8px;
    background-color: #1d2130;
    color: #ffffff;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    gap: 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  .fa-linkedin-square,
  .fa-cloud-download {
    font-size: 32px;
  }
  .footer-detail-box-1 {
    position: relative;
    width: 40vw;
    height: 30vh;
    flex: 0 0 100%;
    background-color: #120d36;
    transform: rotate(-2deg);
    border-radius: 32px;
    z-index: 1;
  }
  .footer-detail-box-2 {
    position: absolute;
    width: 40vw;
    height: 30vh;
    background-color: #583fbc;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 2;
  }
  .footer-box-head {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #ffffff;
  }
  .footer-box-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
  }
  .footer-box-a {
    text-decoration: none;
    font-weight: 600;
    align-items: center;
    line-height: 24px;
    font-size: 17px;
    color: #fff;
    padding: 10px 15px;
    display: flex;
    gap: 10px;
    border-radius: 12px;
    background-color: #120d36;
  }
}
@media (max-width: 1000px) {
  header {
    display: flex;
    align-items: center;
  }
  .header-name-a {
    text-decoration: none;
    color: #242a41;
    font-weight: 600;
    line-height: 36px;
    font-size: 24px;
  }
  .fa-bars {
    display: block;
    color: #242a41;
    cursor: pointer;
    font-size: 24px;
  }
  nav {
    display: none;
    position: absolute;
    right: 0px;
    background-color: rgba(223, 225, 250, 0.8);
    width: 50%;
    height: 250px;
    z-index: 1;
    margin-top: 52px;
    -webkit-backdrop-filter: blur();
    backdrop-filter: blur(10px);
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    align-items: center;
    padding: 20px 0;
  }
  .list-a {
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    color: #1d2130;
    line-height: 25.5px;
  }
  .contact-a {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
  .contact {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 110px;
    height: 54px;
    border-radius: 12.8px;
    background-color: #120d36;
    color: #ffffff;
    align-items: center;
    cursor: pointer;
  }
  .svg-contact {
    margin-left: 10px;
  }
  .svg-lines {
    margin-top: -10px;
  }
  .hero-detail {
    margin-top: -640px;
    align-items: center;
  }
  .hero-header {
    width: 100%;
  }
  .svg-lines-2 {
    margin-top: 110px;
  }
  /* section 2 */
  .speciality-section {
    margin-top: -200px;
  }

  /* section 3 */

  .portfolio-project {
    font-size: 50px;
  }

  .portfolio-box-text {
    width: 300px;
    font-size: 25px;
    line-height: 32px;
  }
  .btn-portfolio-text-1 {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  .portfolio-box-info {
    width: 300px;
    font-size: 15px;
    line-height: 20px;
  }

  .porfolio-img-1 {
    border-radius: 20px;
    width: 240px;
  }
  .box-img-2 {
    position: relative;
    left: 80px;
    box-shadow: -6px 0px 10px rgb(0, 0, 0, 0.2);
  }

  /* section 6 FAQ */

  .faq-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .faq-text {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #120d36;
  }
  .faq-text-bold {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    line-height: 58px;
    color: #1d2130;
  }
  .faq-text-word {
    color: #120d36;
  }
  .faq-text-email {
    text-align: center;
    width: 100vw;
    font-weight: 400;
    line-height: 24px;
    font-size: 1rem;
    color: #1d2130;
    padding-top: 20px;
  }
  .faq-text-email-a {
    color: #120d36;
    text-decoration: underline;
    text-decoration-style: solid;
  }
  .accordion-item {
    background-color: #edf0f9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 75vw;
    position: relative;
    top: 50px;
  }
  .accordion-header-1,
  .accordion-header-2,
  .accordion-header-3,
  .accordion-header-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 20px;
    cursor: pointer;
  }
  .accordion-header-1:hover,
  .accordion-header-2:hover,
  .accordion-header-3:hover,
  .accordion-header-4:hover {
    background-color: #120d36;
    color: #fff;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  .accordion-header-text {
    width: 100%;
    line-height: 23px;
    font-weight: 700;
    font-size: 18px;
  }
  .accordion-content {
    display: none;
    color: #585f6f;
    line-height: 24px;
    font-size: 17px;
    font-weight: 400;
    background-color: #edf0f9;
    border-radius: 8px;
    align-items: center;
  }
  .accordion-content.active {
    display: block;
    background-color: #edf0f9;
    padding: 10px 20px 20px;
  }
  #fa-chevron-down-1,
  #fa-chevron-down-2,
  #fa-chevron-down-3,
  #fa-chevron-down-4 {
    transition: transform 0.3s ease;
  }
  #fa-chevron-down-1.rotate,
  #fa-chevron-down-2.rotate,
  #fa-chevron-down-3.rotate,
  #fa-chevron-down-4.rotate {
    transform: rotate(180deg);
  }

  .faq-select-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /* footer */
  footer {
    margin-top: 130px;
  }
  .footer-item {
    flex-direction: column;
  }
  .footer-detail-box-1 {
    position: relative;
    width: 500px;
    background-color: #120d36;
    transform: rotate(-2deg);
    border-radius: 32px;
    z-index: 1;
    margin-top: 70px;
    margin-bottom: 20px;
  }
  .footer-detail-box-2 {
    position: absolute;
    width: 500px;
    max-width: 100%;
    background-color: #583fbc;
    border-radius: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 2;
    margin-top: 70px;
    margin-bottom: 20px;
  }
}
@media (max-width: 957px) {
  .skill-detail {
    height: 230px;
  }
  .skill-detail-2 {
    height: 230px;
  }
  .skill-detail-3 {
    height: 230px;
  }
  .svg-skill-2 {
    top: 200px;
  }
  .svg-skill-3 {
    top: 205px;
  }

  /* section 3 */

  .portfolio-project {
    font-size: 50px;
  }

  .portfolio-box-text {
    width: 300px;
    font-size: 25px;
    line-height: 32px;
  }
  .btn-portfolio-text-1 {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  .portfolio-box-info {
    width: 300px;
    font-size: 15px;
    line-height: 20px;
  }

  .porfolio-img-1 {
    border-radius: 20px;
    width: 240px;
  }
  .box-img-2 {
    position: relative;
    left: 80px;
    box-shadow: -6px 0px 10px rgb(0, 0, 0, 0.2);
  }
}
@media (max-width: 768px) {
  header {
    margin-right: 40px;
    margin-left: 40px;
  }
  .hero-detail {
    display: flex;
    flex-direction: column;
    margin-top: -600px;
  }
  .img-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .svg-lines {
    margin-top: -60px;
  }
  .svg-lines-2 {
    margin-top: -60px;
  }
  .sm-box {
    display: block;
    position: relative;
    top: -30%;
    left: -30%;
  }
  .sm-box-2 {
    display: block;
    position: relative;
    top: 40%;
    left: -40%;
  }
  .sm-box-3 {
    display: block;
    position: relative;
    top: -30%;
    left: 30%;
  }
  .sm-box-4 {
    display: block;
    position: relative;
    top: 5%;
    left: 40%;
  }
  .sm-box-5 {
    display: block;
    position: relative;
    top: 40%;
    left: 20%;
  }
  /* section 2 */
  .speciality-section {
    display: flex;
    margin-top: 10vw;
    margin-left: 20px;
  }
  .specialize-container {
    margin-top: 10px;
  }
  .skill-specialize {
    font-size: 32px;
  }
  .skill-detail {
    height: 250px;
  }
  .skill-detail-2 {
    height: 250px;
  }
  .skill-detail-3 {
    height: 250px;
  }

  .circle-icon {
    margin-top: -420px;
  }
  .svg-lines-3 {
    margin-top: 750px;
  }

  /* section 3 */
  .portfolio-project {
    font-size: 50px;
  }

  .portfolio-box-text {
    width: 300px;
    font-size: 25px;
    line-height: 32px;
  }
  .btn-portfolio-text-1 {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  .portfolio-box-info {
    width: 300px;
    font-size: 15px;
    line-height: 20px;
  }

  .porfolio-img-1 {
    border-radius: 20px;
    width: 240px;
  }
  .box-img-2 {
    position: relative;
    left: 80px;
    box-shadow: -6px 0px 10px rgb(0, 0, 0, 0.2);
  }

  /* section 6 */
  .faq-text-bold {
    font-size: 40px;
  }

  /* footer */
  .footer-detail-box-1 {
    position: relative;
    width: 60vw;
    max-height: 30vh;
    flex: 0 0 100%;
    background-color: #120d36;
    transform: rotate(-2deg);
    border-radius: 32px;
    z-index: 1;
    margin-top: 70px;
  }
  .footer-detail-box-2 {
    position: absolute;
    width: 60vw;
    max-width: 100%;
    height: 100%;
    max-height: 30vh;
    flex: 0 0 100%;
    background-color: #583fbc;
    border-radius: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 2;
    margin-top: 70px;
  }
  .footer-btn-a {
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    border-radius: 12.8px;
    background-color: #1d2130;
    color: #ffffff;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    gap: 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
}
@media (max-width: 699.5px) {
  /* sedction 6 */
  .accordion-header-text {
    width: 40vw;
  }
}
@media (max-width: 667px) {
  .skill-detail {
    height: 270px;
  }
  .skill-detail-2 {
    height: 270px;
  }
  .skill-detail-3 {
    height: 270px;
  }
  .svg-skill-4 {
    height: 300px;
  }
  /* secetion 6 */
  .faq-text-bold {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 605px) {
  .skill-detail {
    height: 290px;
  }
  .skill-detail-2 {
    height: 290px;
  }
  .skill-detail-3 {
    height: 290px;
  }
  .svg-skill-4 {
    height: 330px;
  }
  .skill-specialize {
    font-size: 30px;
  }

  /* section 6 */
  .accordion-header-text {
    width: 55vw;
  }
}
@media (max-width: 540px) {
  .speciality-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 450px;
    margin-left: 65px;
  }
  .specialize-container {
    margin-top: 70px;
  }
  .skill-detail {
    width: 65vw;
    height: 220px;
  }
  .skill-detail-2 {
    width: 65vw;
    height: 220px;
  }
  .skill-detail-3 {
    width: 65vw;
    height: 220px;
  }
  .svg-skill-4 {
    height: 200px;
  }
  .svg-lines-3 {
    margin-top: 600px;
  }

  /* section 3 */

  .portfolio-project {
    font-size: 50px;
  }
  .portfolio-project-box,
  .portfolio-project-box-2,
  .portfolio-project-box-3 {
    flex-direction: column;

    border-radius: 10px;
  }

  .portfolio-box-text {
    width: 320px;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
  }
  .btn-portfolio-text-1 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .portfolio-box-info {
    width: 320px;
    align-items: center;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
  }
  .portfolio-project-btn {
  }
  .porfolio-img-1 {
    border-radius: 20px;
    width: 260px;
  }
  .box-img-2 {
    position: relative;
    left: 80px;
    box-shadow: -6px 0px 10px rgb(0, 0, 0, 0.2);
  }

  /* section 5 */

  .try-out-section {
    width: 100%;
  }
  .try-out-box-1 {
    width: 90vw;
    height: 45vw;
    background-color: #120d36;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-2deg);
  }
  .try-out-box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 45vw;
    background-color: #583fbc;
    border-radius: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    overflow: hidden;
  }
  .try-out-detail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    align-items: center;
    box-sizing: border-box;
  }
  .try-out-text {
    font-weight: 700;
    font-size: 7vw;
    line-height: 4.375vw;
    color: #fff;
  }
  .try-out-info {
    width: 80%;
    align-items: center;
    align-content: center;
    display: inline-block;
    padding-top: 10px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
  }
  .svg-line-sect-5 {
    position: absolute;
    z-index: 1;
    top: -100px;
  }
  /* section 6 */
  .faq-text-email {
    width: 100%;
  }
  /* footer */

  .footer-detail-box-1 {
    position: relative;
    width: 90vw;
    height: 250px;
    flex: 0 0 100%;
    background-color: #120d36;
    transform: rotate(-2deg);
    border-radius: 32px;
    z-index: 1;
  }
  .footer-detail-box-2 {
    position: absolute;
    width: 90vw;
    height: 250px;
    background-color: #583fbc;
    border-radius: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 2;
    margin-bottom: 100px;
  }
  .footer-bottom {
    flex-direction: column;
  }
}
@media (max-width: 430px) {
  header {
    margin-right: 20px;
    margin-left: 20px;
  }
  .speciality-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  .skill-detail {
    width: 76vw;
    height: 240px;
  }
  .skill-detail-2 {
    width: 76vw;
    height: 240px;
  }
  .skill-detail-3 {
    width: 76vw;
    height: 240px;
  }
  .svg-skill-4 {
    height: 240px;
  }

  /* section 3 */

  .portfolio-project {
    font-size: 50px;
  }
  .portfolio-project-box,
  .portfolio-project-box-2,
  .portfolio-project-box-3 {
    flex-direction: column;
  }

  .btn-portfolio-text-1 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .portfolio-box-info {
    width: 220px;
    align-items: center;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
  }

  .porfolio-img-1 {
    border-radius: 20px;
    width: 240px;
  }
}
@media (max-width: 320px) {
  .img-1 {
    width: 200px;
    height: 200px;
  }
}

.footer-text {
  @media (max-width: 500px) {
    margin: 3vw;
  }
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #120d36;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px 18px;
  font-size: 16px;
  cursor: pointer;
  display: none;
  z-index: 1000;
  transition: transform 0.3 ease;
}

.back-to-top:hover {
  background-color: #120d36;
  transform: scale(1.2);
}
